/* Desktop first */

/* Element styling */

:root {
    --header-height: 10rem;
}
* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background: #f5f5f5;
   /* display: flex;*/
}

header {
    position: fixed;
    background: #494E5F;
    color: #FFE7D4;
    inset: 0;
    height: var(--header-height);
    transition: height 400ms;
    overflow-y: hidden;
}
.headerDiv {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    height: var(--header-height);
    gap: 1rem;
}

.open{
    height: 60%;

}
li {
    font-size: 1.5rem;
}

.sizeFont {
    font-size: 10rem;
}


ul {
    list-style-type: none;
}

a {
    color: #ffe7d4;
    text-decoration-style: none;
}
/* -------------- BODY -------------------- */

main {
    margin-top: var(--header-height);
    padding:3rem;
}
h2 {
    background-color: #ffe7d4;
    color: #494E5F;
    padding: 0.7rem;
    font-size: 25px;
}
h3 {
    font-size: 18px;
    padding: 1rem 2rem;
    font-weight: 600;
    display: flex;
}
h4 {
    font-size: 15px;
    padding: .5rem 2rem;
}
/* -------------- CARDS IN PORTFOLIO -------------------- */

.sectionWithCards {
    display: flex;
    /*width: 1040px;*/
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
  }
  .card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .headingCards {
    padding: 0;
}
  .cardTexts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
  }
  
  .tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .tagHtml {
    background-color: #47bcd4;
  }
  .tagUx {
    background-color: #5e76bf;
  }
  .tagJavaScript {
    background-color: #cd5b9f;
  }
  
  .cardTexts p {
    font-size: 13px;
    margin: 0 0 40px;
  }
  
  

/* -------------- FOOTER -------------------- */

footer {
    background-color: #494E5F;
    color: #FFE7D4;
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 0px;
}
.logoWithLink {
    height: 2.5rem;
}