/* Desktop first */

/* Element styling */

:root {
    --header-height: 10rem;
}
* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background: #f5f5f5;
}

header {
    position: fixed;
    background: #494E5F;
    color: #FFE7D4;
    inset: 0;
    height: var(--header-height);
    transition: height 400ms;
    overflow-y: hidden;
}
.headerDiv {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    height: var(--header-height);
    gap: 1rem;
}

.open{
    height: 60%;

}
li {
    font-size: 2rem;
}

.sizeFont {
    font-size: 10rem;
}


ul {
    list-style-type: none;
}
/* -------------- BODY -------------------- */

main {
    margin-top: var(--header-height);
    padding:3rem;
}
h2 {
    background-color: #ffe7d4;
    color: #494E5F;
    padding: 0.7rem;
    font-size: 25px;
    font-weight: bold;
}
h3 {
    font-size: 18px;
    padding: 2rem;
}

/* -------------- FOOTER -------------------- */

footer {
    background-color: #494E5F;
    color: #FFE7D4;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.logoWithLink {
    height: 2.5rem;
}