/* Desktop first */

/* MOBILE*/
@media (max-width: 360px) {
    body {
        background-color: lightgreen;
    }

    .open {
        height: 100%;
        text-align: center;

    }
    header {
        height: 4rem;
    }
    main {
        margin-top: 4rem;
    /*************************
    VARFÖR FÖRSVINNER ALLT?
    .material-symbols-outlined {
        height: 1rem;
    }
    .martinaLogo {
        height: 3rem;
    }***************************/
    }

    footer {
        height: 3rem;
    }

    .logoWithLink {
        height: 1rem;
    }
}