/* Desktop first */

/* MOBILE*/
@media (max-width: 360px) {
    :root {
        --header-height: 5rem;
    }
    body {
        background-color: lightgreen;
    }

    .open {
        height: 100%;
        text-align: center;

    }
    header {
        height: 5rem;
    }
    .martinaLogoSmall {
        height: 2.5rem;
    }
    main {
        margin-top: 5rem;
    /*************************
    VARFÖR FÖRSVINNER ALLT?
    .material-symbols-outlined {
        height: 1rem;
    }
    .martinaLogo {
        height: 3rem;
    }***************************/
    }

    footer {
        height: 3rem;
    }

    .logoWithLink {
        height: 1.5rem;
    }
}